body {
    background-color: #f0f0f5;
}

#titulo {
    margin-top: 50px;
}

.perfil-container {
    background-color: #FFFFFF;
    width: 1200px;
    height: 600px;
    margin: 2em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}
.perfil-container .form {
    padding-top: 40px;
}

.perfil-container .form h1 {
    color: rgb(72, 53, 246);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.perfil-container .form input {
    width: 30%;
    color: rgb(95, 124, 138);
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 15px;
}

.perfil-container .form button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: rgb(72, 53, 246);
    border: 0;
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.perfil-container .form p {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgb(190, 196, 231);
    padding-top: 15px;
}
 